[submodule "node-microservices-common"]
	path = 09-Code-Sharing-Between-Services/common
	url = git@github.com:aditya43/node-microservices-common.git
[submodule "node-microservices-common"]
	path = 10-CRUD-Ticketing-Service/common
	url = git@github.com:aditya43/node-microservices-common.git
